@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="window">
	<div class="display">
	</div>

	<img class="windowimg" src="/train/window1.png">

	<div class="video-wrapper">
		<video id="background" playsinline autoplay muted loop>
			<source src="/train/forest_better.webm" type="video/webm">

			Your browser does not support the video tag.
		</video>
	</div>

	


</div>


<div class="control-panel">


	<span class="switch">
		<span class="switch-border1">

			<span class="switch-border2">
				<input id="switch1" type="checkbox"/>
				<label for="switch1"></label>
				<span class="switch-top"></span>
				<span class="switch-shadow"></span>
				<span class="switch-handle-bottom"></span>
				<span class="switch-handle-base"></span>
				<span class="switch-handle"></span>
				<span class="switch-handle-top"></span>





			</span>
		</span>
	</span>




	<div id="play" class="surround">
		<div class="toggle">
			<div class="button"></div>
		</div>
	</div>


	<div  class="controls_fm">

		<div class="tune_circle_shadow">
		</div>
		<div id ="train" class="tune_circle">
		</div>
	</div>



	<div class="controls_fm">

		<div class="tune_circle_shadow">
		</div>
		<div id="stream" class="tune_circle">
		</div>
	</div>





</div>