@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="window">

	<img class="windowimg" src="/train/window.png">

	<div class="video-wrapper">
		<video id="background" playsinline autoplay muted loop>
			<source src="/train/forest_better.webm" type="video/webm">

			Your browser does not support the video tag.
		</video>
	</div>




</div>


