@page
@model train.Pages.newbackModel
@{
}
<h2>Добавление нового фона</h2>
<form method="post">
    <p>
        <label>путь</label><br />
        <input name="fileName" />
    </p>
    <p>
        <label>Landscape:</label><br />
        <input name="Landscape" type="number" />
    </p>
    <p>
        <label>Weather:</label><br />
        <input name="Weather" type="number" />
    </p>
    <p>
        <label>Time:</label><br />
        <input name="Time" type="number" />
    </p>
    <p>
        <label>OutEffects:</label><br />
        <input name="OutEffects" type="number" />
    </p>
    <input type="submit" value="Отправить" />





</form>